<div class="bg-white shadow px-4 py-5 sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Add a new condition</h3>
      <p class="mt-1 text-sm text-gray-500">
        A condition defines what users should do in order to get the reward associated with the rule.
      </p>
      <p class="mt-1 text-sm text-gray-500">
        Add an event (optional) an operation an expression and a value.
      </p>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <%= form_with model: Condition.new, url: rule_conditions_url(rule_id: @rule.uuid) do |condition_form| %>
        <%= render 'form', condition_form: condition_form %>
      <% end %>
    </div>
  </div>
</div>
