<div class="bg-white overflow-hidden shadow rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <div class="flex items-center">
      <div class="ml-5 w-0 flex-1">
        <dt class="text-md font-medium text-gray-500 truncate">
          <%= title %>
        </dt>
        <dd class="flex items-baseline">
          <p class="text-2xl font-semibold text-gray-900">
            <%= subtitle %>
          </p>

          <div class="ml-2 flex items-baseline text-sm font-semibold text-green-600">
            <svg class="self-center flex-shrink-0 h-5 w-5 text-green-500" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">
                  Increased by
                </span>
            122
          </div>
        </dd>
      </div>
    </div>
  </div>
  <div class="bg-gray-50 px-4 py-4 sm:px-6">
    <div class="text-sm">
      <a href="<%= view_link %>" class="font-medium text-indigo-600 hover:text-indigo-500"> <%= view_text %></a>
    </div>
  </div>
</div>
