<div class="bg-white shadow px-4 py-5 sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Add a new event</h3>
      <p class="mt-1 text-sm text-gray-500">
        Events are actions that you want to track like downloading a file, adding a comment, clicking a link...
      </p>
      <p class="mt-1 text-sm text-gray-500">
        Add a name a description and a value.
      </p>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <%= form_with model: Event.new do |event_form| %>
        <%= render 'form', event_form: event_form %>
      <% end %>
    </div>
  </div>
</div>
