<tr class="<%= cycle("bg-white", "bg-gray-50") -%>">
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= link_to achievement.reward.name, reward_url(id: achievement.reward.uuid), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= link_to achievement.receiver.external_id, receiver_url(id: achievement.receiver.uuid), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= format_datetime(achievement.created_at) %>
  </td>
</tr>
