<td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
  <%=  link_to activity.receiver.external_id, receiver_url(id: activity.receiver.uuid), class: "font-medium text-indigo-600 hover:text-indigo-500"  %>
</td>
