<div class="bg-white shadow px-4 py-5 sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900"><%= @rule.name %></h3>
      <p class="mt-1 text-sm text-gray-500">
        Rules define how users can get rewards
      </p>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <%= form_with model: @rule, url: rule_url(id: @rule.uuid), method: :put do |rule_form| %>
        <%= render 'form', rule_form: rule_form %>
      <% end %>
    </div>
  </div>
</div>
